<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../../public/assets/logo1-sc.png" type="image/png">
</head>
<body>
    
</body>
<footer>
    <div id="footer-container">
        <div id="footer-top">
            <div id="footer-img">
                <img src="./public/assets/logo1-sc.png" alt="">
            </div>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div id="footer-bottom">
            <P>DESENVOLVIDO POR: RENEGADOS</P>
        </div>
    </div>
</footer>
</html>