<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Street Company</title>
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/catalog.css">
        <link rel="icon" href="../../public/assets/logo1-sc.png" type="image/png">
        <script src="../scripts/index.js" defer></script>
        <script src="../scripts/loginUIUpdate.js" defer ></script>
    </head>
<body>


    <nav>
        <div id="navbar">
            <div id="navbar-leftside">
                <div id="logo-lp">
                    <img src="../../public/assets/logo1-sc.png" alt="logo-1-streetcompany">
                </div>
                <div id="searchbar-lp">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="searchbar-input" name="searchbar-input" placeholder="Pesquisa...">
                </div>
            </div>
            <div id="navbar-rightside">
                <div id="pages">
                    <div id="animation-space" class="hidden">
                        <a href="../../index.html">Início</a>
                        <a href="./about.html">Sobre Nós</a>
                        <div id="catalog">
                            <a id="catalog-dropdown"><p>Catálogo</p><i class="fa-solid fa-caret-down"></i></a>
                            <div id="catalog-content">
                                <button class="catalogButton">Moletom</button>
                                <button class="catalogButton">Calças</button>
                                <button class="catalogButton">Camisas</button>
                             </div>
                        </div>
                    </div>
                    <button id="dropdown-menu"><i class="fa-solid fa-bars"></i></button>
                </div>
                <div id="login">
                    <a href="./login.html" id="login-button">Entrar</a>
                </div>
            </div>    
        </div>
    </nav>


    <main>
        <div id="container-cards">
            <div class="card">
                <div class="card-image">
                    <img src="../../public/assets/landing-page-fit.png" alt="">
                </div>
                <button class="add-to-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                <div class="card-desc">
                    <p>produto diferente'-' lol</p>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <div id="footer-container">
            <div id="footer-top">
                <div id="footer-img">
                    <img src="../../public/assets/logo1-sc.png" alt="">
                </div>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
            <div id="footer-bottom">
                <P>DESENVOLVIDO POR: RENEGADOS</P>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/5f49c77ee3.js" crossorigin="anonymous"></script>   
</body>
</html>