<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street Company</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../../public/assets/logo1-sc.png" type="image/png">
    <!-- <script src="../scripts/index.js" defer></script> -->
    <script src="../scripts/loginVerify.js" defer></script>
</head>
<body>
    <section id="login-section">
        <div id="login-container">
            <div id="img-login">
                <img src="../../public/assets/logo-star.png" alt="">
            </div>
            <div id="text-login">
                <p>Já tem uma conta?</p>
                <h4>Entre!</h4>
            </div>
            <div >
                <form id="form-login">
                    <label for="user-login">Usuário:</label>
                    <input type="text" id="user-login" name="user-login" required>
                    <label for="pwd-login">Senha:</label>
                    <input type="password" id="pwd-login" name="pwd-login" required>
                    <button id="submit-login">Entrar</button>
                    <h6>Ainda não tem uma conta? <a href="./signup.html">Crie uma!</a></h6>
                </form>
            </div>
        </div>
    </section>
</body>
</html>