<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street Company</title>
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/index.js"></script>
</head>
<body>
    <section>
        <div id="login-container">
            <div id="img-login">
                <img src="../../public/assets/logo-star.png" alt="">
            </div>
            <div id="text-login">
                <p>Já tem uma conta?</p>
                <h4>Entre!</h4>
            </div>
            <div id="form-login">
                <label for="user-login">Usuário:</label>
                <input type="text" id="user-login" name="user-login" required>
                <label for="pwd-login">Senha:</label>
                <input type="text" id="pwd-login" name="pwd-login">
                <button id="submit">Entrar</button>
                <h5>Ainda não tem uma conta? <span>Crie uma!</span></h5>
            </div>
        </div>
    </section>
</body>
</html>