<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street Company</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../../public/assets/logo1-sc.png" type="image/png">
    <script src="../scripts/index.js" defer></script>
    <script src="../../model/server.js" defer></script>
</head>
<body>
    <section id="signup-section">
        <div id="signup-container">
            <div id="img-signup">
                <img src="../../public/assets/logo-star.png" alt="">
            </div>
            <div id="text-signup">
                <h4>Crie sua conta!</h4>
            </div>
            <div>
                <form action="../../index.html" id="form-signup">
                    <label for="user-signup">Usuário:</label>
                    <input type="text" id="user-signup" name="user-signup" required>
                    <label for="name-signup">Nome Completo:</label>
                    <input type="text" id="name-signup" name="name-signup" required>
                    <label for="cpf-signup">CPF:</label>
                    <input type="text" id="cpf-signup" name="cpf-signup" required>
                    <label for="pwd-signup">Senha:</label>
                    <input type="password" id="pwd-signup" name="pwd-signup" required>
                    <button id="submit-signup">Criar!</button>
                    <h6>Já tem uma conta? <a href="./login.html">Entre!</a></h6>
                </form>
            </div>
        </div>
    </section>
</body>
</html>