@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: solid 0.5px red; */
}
:root{
--bg-color: #BBCFE6;
--main-color: #2188E7;
--sec-color: #000000;
--text-color: #ffffff;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/* ESTILIZAÇÃO NAVBAR */
/* ESTILIZAÇÃO NAVBAR */
/* ESTILIZAÇÃO NAVBAR */

#navbar{
  width: 100vw;
  height: 8rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: space-between;
}
#logo-lp>img{
  width: 8rem;
}
#navbar-leftside{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  margin: 0 1rem 0 1rem;
}
#searchbar-lp{
  border: solid 1px var(--sec-color);
  padding-left: 5px;
  border-radius: 10px;
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
#searchbar-input{
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
}
#navbar-rightside{
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 1rem;
}
#pages{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hidden a{
  transform: translateX(18rem);
}
@keyframes rotate-and-scale {
  0% {
      transform: rotate(0deg) scale(1.0);
  }
  50% {
      transform: rotate(90deg) scale(1.2);
  }
  100% {
      transform: rotate(180deg) scale(1.0);
  }
}

.rotate i{
  transform-origin: center;
  animation: rotate-and-scale 0.5s forwards;
}
#animation-space{
  display: flex;
  align-items: center;
  overflow: hidden;
}
#animation-space a{
  text-decoration: none;
  color: var(--text-color);
  margin: 0 1rem 0 1rem;
  transition: transform 0.5s ease-in-out;
  
}
#dropdown-menu{
  background: none;
  border: none;
  cursor: pointer;
}
#dropdown-menu i{
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  border: none;
  transition: transform 0.5s;
  transform-origin: center;
}
#login-button{
  height: 4rem;
  width: 8rem;
  font-size: 22px;
  background-color: #2188E7;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: var(--text-color);
}

/* FIM ESTILIZAÇÃO NAVBAR */
/* FIM ESTILIZAÇÃO NAVBAR */
/* FIM ESTILIZAÇÃO NAVBAR */

/* ESTILIZAÇÃO MAIN-SECTION */
/* ESTILIZAÇÃO MAIN-SECTION */
/* ESTILIZAÇÃO MAIN-SECTION */
#main-section{
  display: flex;
  align-items: center;
  gap: 2rem
  ;
}
#main-leftside{
  margin-top: 5rem;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 750px;
}
#leftside-title img{
  width: 540px;
}
#leftside-title{
  text-align: center;
  color: var(--sec-color);
}
#brands{
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem;
}
#brands img{
  place-content: center;
  width: 90%;
  aspect-ratio: 5/5;
  background-color: var(--sec-color);
  border-radius: 100%;
  padding: 1rem;
}
#main-rightside{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 750px;
  background: linear-gradient(180deg, var(--bg-color), var(--sec-color));
  background-size: 200% 250%;
  background-position: top;
  overflow: hidden;
  border-radius: 0 0 0 80%;
}
#main-rightside img{
  width: 100%; /* largura da imagem igual à largura da div */
  height: 100%; /* altura da imagem igual à altura da div */ /* redimensionar a imagem para preencher a div */
  overflow: hidden;
}